.navigations {
  background-color: red;
  // height: 12vh;
  padding: 20px 0;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;


    li {
      color: #fff;
      margin: 0 21px;
      border-bottom: 2px solid cyan;
    }
  }
}