$white: #ffffffb4;
.nav {
  border-bottom: 2px solid rgba(12, 240, 240, 0.832);
}
li{
  list-style: none;
}
@mixin childCenter {
display: flex;
justify-content: center;
align-items: center;
}
a{
  color: #000;
  text-decoration: none;
}
body {
  min-height: 100vh;
  background: #ffffffec;
}